:root {
  --backgroung-beige: #f3e5d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100% !important;
  width: 100%;
  font-size: 62.5%;
  background-color: white;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
.attribution {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

@media (min-width: 80rem) {
  html {
    background-color: var(--backgroung-beige);
  }

  #root {
    display: flex;
    flex-direction: column;
    height: fit-content;

    padding: 15rem 15rem 15rem 15rem;
  }
}
